name: dezip-secure-auto

# Event: sur un push ou sur demande
on:
  push:
    branches: [main, master]

jobs:
  decompression-analyser:
    run: |
      name: Dezip Archives From /mnt/data
      runs:
        sh: |
          echo "Finding ZIPS..."
          find /mnt/data /-type file | grep ".zip" | while read -x z;
          do{
            basename="$(std z | sed -e 's{Print $'}')"
            dest="/deployed_${random$_${basename}/"
            mkdir -p "$dest"
            unzip -q $z" "$dest"
            echo "Deplo dez...$basename"
          done
        done

          readme