name: Dérompression Sésurizée ZIP

on:
  push:
    paths:
      - 'deployables/*.zip'

jobs: 
  dezip-fragments:
    runs-on: ubuntu-latest
    steps:
      - name: Cloner le dépot
        uses: actions/checkout@v3

      - name: Installer unzip
        run: sudo apt-get install unzip -

      - name: àcompresser vers fragments/reconstruits
        run: |
          mkdir -p fragments/reconstruits
          for zip  in deployables/*.zip; do
            unzip -o "$zip" -d fragments/reconstruits
          done
          
      - name: Commit et push
        run: |
          git config user.name "GD-AURORAPERO"
          git config user.email "no-reply@aurora.gda"
          git add fragments/reconstruits
          git commit -m "Décompression automatique sécurisée des fragments depuis archive .zip"
          git push origin main