name: Sync Fragments Workflow

on:
  push:
    branches:
      - GD-AURORAPERO
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Synchronisation des fragments
        env:
          SUPABASE_KEY: \${{ secrets.SUPABASE_KEY }}
        run: python sync.py
        continue-on-error: true
